@model Book[]

@{
    ViewData["Title"] = "Результат поиска";
}

<h1>Результат</h1>
 @if (Model.Length == 0)
 {
   <p>Ничего не найдено</p>
 }

else 
{
       <ul>
           @foreach (var book in Model) 
           {
               <li><a href="@Url.Action("Index", "Book", new { id = book.ID})">@book.Title</a></li>
           }
       </ul>
}


