@model Form
@{
    ViewData["Title"] = "Заказ оформлен";
}

<p>
    Заказ оформлен. Начинаем собирать вашу посылку в службу доставки
</p>
<p>
    <a href="@Url.Action("Index", "Home")">На Главную</a>
</p>